@import url("https://fonts.googleapis.com/css2?family=Schoolbell&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import "tailwindcss";

body {
    font-family: "Luckiest Guy", cursive;
}

.ff-schoolbell {
    font-family: "Schoolbell", cursive;
}
.main-heading {
    -webkit-text-stroke: 2px black;
}

.meet-bg {
    background: linear-gradient(180deg, #A6E3F5 0%, #FFFFFF 100%);
}

.meet-vector {
    background-image: url('/assets/images/webp/meet-vector.webp') !important;
}

.room-bg {
    background-image: url('/assets/images/webp/living-room-tv.webp') !important;
}

.join-bg {
    background-image: url('/assets/images/webp/join-bg.webp') !important;
}

.meme-bg {
    background-image: url('/assets/images/webp/peperuney-meme-bg.webp') !important;
}

.click-bg {
    background-image: url('/assets/images/webp/click-bg.webp') !important;
}

@media(max-width:639.99px) {

    .room-bg {
        background-image: url('/assets/images/webp/earn-and-arcade.webp') !important;
    }

    .join-bg {
        background-image: url('/assets/images/webp/join-mobile-bg.webp') !important;
    }

    .meme-bg {
        background-image: url('/assets/images/webp/meme-mobile-bg.webp') !important;
    }

    .click-bg {
        background-image: url('/assets/images/webp/click-small-screen.webp') !important;
    }

    .meet-vector {
        background-image: url('/assets/images/webp/meet-small-bg.webp') !important;
    }
}